html {background-color: white;}

@font-face{
	font-family: assistant;
	src: url(assets/Assistant-Bold.ttf);
	font-weight: bold;
}

@font-face{
	font-family: assistant;
	src: url(assets/Assistant-Medium.ttf);
}


body {
    font-family: sans-serif, Arial;
    color: #417aaf;
    background-color: #EFF4F7;
    font-size: 16px;
    line-height: 1.5;
}

ul{
	margin: 10px;
}

nav{
	display:flex;
	flex-wrap: nowrap;
	background-color: #c5e2ff;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 3px #2a519d;
}

nav img{
	display: flex;
	max-width: 90px;
	max-height: 90px;
	width: auto;
	height: auto;
}


nav ul{
    list-style-type: none;
	padding: 0;
}

nav ul li{
	display: inline;
	margin:20px;
	padding: 10px 20px;
}

nav ul li a{
	text-decoration: none;
	font-family: assistant;
	font-size: large;
	font-weight: bold;
}

nav ul li a:visited{
    color: #3363c2;
}


nav ul li a:hover{
	animation-duration: 5s;
    animation-name: hover;
    animation-iteration-count: 1;
}


.active{
	border-bottom:solid 4px #3363c2;
	border-radius: 4px;
}


@keyframes hover{

}