<footer>
	<a href="form">
		<button id="footerBtn">Join Our Newsletter</button>
	</a>
	<form>
		<input type="text" id="email" name="email" placeholder="Email*">
		<button type="submit" id="subBtn">Subscribe</button>
	</form>
</footer>