<footer>
	<a href="form">
		<button id="footerBtn">Join Our Newsletter</button>
	</a>
	<form id="newsletterForm">
		<input type="text" id="footerEmail" name="email" placeholder="Email*">
		<button type="submit" id="footerSubBtn">Subscribe</button>
	</form>
</footer>