<footer>
	<a href="form"><button id="footerBtn">Join Our Newsletter</button></a>

	<div>
		<input id="textfield" name="textfield" type="text" data-placeholder="Email">
		<button>Subscribe</button>
	</div>
</footer>