<nav>
	<a href="/"><img src="assets/logo.png" alt="logo"></a>
	<ul class="nav-list">
		<li><a href="/">Home</a></li>
		<li><hr class="circle"></li>
		<li id="goals-list"><a href="goals">Our Goals <i id="arrow" class="fa-solid fa-caret-down"></i></a>
			<nav id="drop-down">
				<ul>
					<li>> Climate Action</li>
					<li>> Sustainable Consumption and Production</li>
					<li>> Biodiversity, Forests, and Desertification</li>
				</ul>
			</nav>
		</li>
		<li><hr class="circle"></li>
		<li><a href="teams">The Team</a></li>
		<li><hr class="circle"></li>
		<li><a class="active" href="form">Newsletter</a></li>
	</ul>
</nav>
