body {
	background: linear-gradient(to bottom, #add8e6, #ffffff, #add8e6);
	font-family: 'Assistant', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	margin-top: 0;
}

.header.goal-1 {
	background-image: url("assets/goal-1-title.png");
	background-position: center -80px;
	background-size: cover;
	min-height: 300px;
	display: flex;
	align-items: center;
}

.header.goal-3 {
	background-image: url("assets/goal-3-title.png");
	background-position: center center;
}

.header h1 {
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.header p {
	font-size: 1.2rem;
	max-width: 700px;
	margin: 0 auto;
}

.dropdown {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.dropdown-details {
	background-color: rgba(127, 189, 240, 0.9);
	color: white;
	border: none;
	padding: 5px 15px;
	font-size: 1rem;
	border-radius: 30px;
	cursor: pointer;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 400px;
	width: 200%;
	max-height: 36px;
	transition: .2s border-radius, .2s max-height, .2s background-color;
}

.dropdown-details[open] {
	border-radius: 4px;
	max-height: 256px;
}

.dropdown-details:hover {
	background-color: rgba(0, 123, 255, 1);
}

.content {
	justify-content: start;
	align-items: start;
	padding: 32px;
}
