html, body {
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
}

@font-face{
	font-family: assistant;
	src: url(assets/assistant-bold.ttf);
	font-weight: bold;
}

@font-face{
	font-family: assistant;
	src: url(assets/assistant-medium.ttf);
}



body {
    font-family: sans-serif, Arial;
    color: #417aaf;
    background-color: #EFF4F7;
    font-size: 16px;
    line-height: 1.5;
}

ul{
	margin: 0px 10px;
}

nav{
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

#wrapper nav{
	background-color: #c5e2ff;
	border-bottom: solid 3px #2a519d;
}

#home{
	background-image: linear-gradient(skyblue, white);
}

nav img{
	display: flex;
	max-width: 85px;
	max-height: 85px;
	width: auto;
	height: auto;
}

.circle {
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	border: none;
	display: inline-flex;
}

nav ul {
	padding: 0;
}

nav ul li {
	display: inline-flex;
}

nav ul li a {
	margin: 10px;
	padding: 10px 20px;
	text-decoration: none;
	font-family: assistant;
	font-size: large;
	font-weight: bold;
}

nav ul li a:visited{
    color: #3363c2;
}


nav ul li a:hover{
	animation-duration: 5s;
    animation-name: hover;
    animation-iteration-count: 1;
}


.active{
	border-bottom:solid 4px #3363c2;
	border-radius: 4px;
}


main{
	display: flex;
	flex-wrap: wrap;
}

.member img{
	width: 100%;
}

.member{
	color: #fff;
	display: flex;
	width: 20%;
	background-color: #3363c2;
    padding: 10px 11px;
	margin: 20px auto;
    border-radius: 20px;
}


strong{
	font-family: assistant;
	font-weight: bold;
}

h1{
	font-family: assistant;
	font-weight: lighter;
}

#home img{
	transform: rotateY(180deg);
	width: 50%;
	display: inline-flex;
}

header{
	display: inline-flex;
	justify-content: space-between;
    align-items: center;
}

h2{
	font-family: assistant;
	font-weight: lighter;
	font-size: 100px;
}

header div{
	margin: 0px;
}

#bottom{
	font-size: 120px;
}

