html,
body {
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: assistant;
	src: url(assets/assistant-bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: assistant;
	src: url(assets/assistant-medium.ttf);
}

body {
	font-family: sans-serif, Arial;
	color: #3363c2;
	background-color: #EFF4F7;
	line-height: 1.5;
}

/* Custom Scroll bar learnt using "https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp" */

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

p{
	max-width: 50vw;
}

.nav-header {
	display: flex;
	min-height: 94px;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

nav.wrapped {
	background-color: #c5e2ff;
	border-bottom: solid 3px #2a519d;
}

#hamburger {
	display: none;
}

#hamburger:hover {
	color: #2554a7;
}

#home {
	background-image: linear-gradient(skyblue, white, skyblue);
}

nav img {
	max-width: 85px;
	max-height: 85px;
	padding-bottom: 4px;
}

.circle {
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	border: none;
	display: inline-flex;
}

nav a {
	max-height: 50px;
}

nav ul {
	padding: 0;
	margin: 0px 10px;
}

nav ul li {
	display: inline-flex;
	align-items: flex-end;
}

nav ul li a {
	margin: 10px;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-family: assistant;
	font-size: large;
	font-weight: bold;
	color: #3363c2;
	transition: .2s background-color, .2s color;
}

#dropDown {
	background-color: white;
	border: solid 3px #2a519d;
    border-radius: 15px;
    position: relative;
    left: 0;
    top: 55px;
    width: 256px;
    display: none;
	padding: 5px;
}

#dropDown ul {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin: 0;
}

#dropDown ul li {
	border: 6px solid transparent;
	border-radius: 20px;
}

#dropDown ul li:hover{
	transition: .2s background-color, .2s color;
}

#dropDown a {
	display: block;
	margin: 0;
	padding: 5px;
}

#goalsList nav li {
	display: block;
	align-items: center;
	flex-direction: column;
}

#goalsList {
	position: relative;
}

.goals-linkdrop {
	display: flex;
	width: 100%;
}

.goals-linkdrop > a {
	margin-right: 0;
	padding-right: 20px;
}

.goals-linkdrop > button {
	margin: 10px 0px;
	padding: 10px;
	border-radius: 4px;
	border: none;
	background: transparent;
	color: white;
	font-size: 19px;
	transition: .2s background-color, color;
}

#goalsDropBtn:hover {
	background-color: #2554a7;
	color: white;
}

#dropDown.open {
	display: block;
	position: absolute;
}

.nav-visible {
	display: block;
	float: right;
	background-color: #7f869a;
	padding: 2%;
	opacity: 0.5;
}

nav ul li a:visited {
	color: #3363c2;
}

nav ul li a:hover {
	color: white;
	background-color: #2554a7;
}

.active {
	border-bottom: solid 4px #3363c2;
	border-radius: 4px;
}


main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-grow: 1;
}

.member img {
	width: 100%;
	border-radius: 50%;
}

.member {
	color: #fff;
	width: 20%;
	background-color: #3363c2;
	padding: 11px;
	margin: 20px auto;
	border-radius: 20px;
	min-width: 320px;
	box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.member ul {
	margin: 0px;
	padding: 0px;
}

.member ul li {
	margin: 10px 0px;
	padding: 0px;
}


.member h3 {
	text-align: center;
}

strong {
	font-family: assistant;
	font-weight: bold;
}

h1 {
	font-family: assistant;
	font-weight: lighter;
	margin: 0px;
}

#home header img {
	transform: rotateY(180deg);
	width: 50vw;
	margin-right: 50px;
}

.hori {
	position: fixed;
	transform: rotate(90deg);
	z-index: -3;
	height: 150vw;
	right: 30vh;
	top: 10vh;
}

.vert {
	height: 180vh;
	position: fixed;
	left: 90vw;
	top: -20vh;
	z-index: -10;
}

#home header {
	display: flex;
	flex-direction: row;
}

header {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 30px;
}

h2 {
	font-family: assistant;
	font-weight: lighter;
	font-size: 150px;
	margin: 0px;
	line-height: 90%;
}

h3 {
	font-family: assistant;
	font-weight: lighter;
}

.member h3 {
	margin: 0px;
}

h4 {
	margin-top: 3px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 23px;
}

.home-title-container {
	margin: 20px;
}

#home h3 {
	text-align: left;
}


#homeBtn {
	font-family: assistant;
	font-weight: bold;
	color: #EFF4F7;
	background-color: #3363c2;
	font-size: 30px;
	border: solid 10px #3363c2;
	border-radius: 50px;
	cursor: pointer;
	padding: 0 20px;
	transition: all 0.2s ease-in-out;
}

#homeBtn:hover{
	transform: scale(1.1);
}


/*=================*/

#formContainer h2 {
	font-family: 'Assistant', sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #3363c2;
	text-align: center;
	margin-bottom: 20px;
}


body {
	background: linear-gradient(to bottom, #add8e6, #ffffff, #add8e6);
	font-family: 'Assistant', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}


.nav-header {
	width: 100%;
	color: white;
	padding: 10px 0;
	z-index: 1000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#home nav {
	box-shadow: none;
}



#contactUs {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

#infoText h2 {
	font-family: 'Assistant', sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #3363c2;
	margin-bottom: 10px;
	text-align: center;
}

#infoText p {
	font-family: 'Assistant', sans-serif;
	font-size: 16px;
	color: #3363c2;
	line-height: 1.5;
	margin-bottom: 20px;
}


#formContainer {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 30px;
	width: 100%;
	max-width: 500px;
}

.form-field {
	border: none;
	padding: 0px;
}

#contactForm {
	display: flex;
	flex-direction: column;
	gap: 15px;
}



#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
	box-sizing: border-box;
}

#contactForm textarea {
	resize: none;
	height: 80px;
}


#contactForm button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #3363c2;
	color: white;
	font-family: 'Assistant', sans-serif;
	font-size: 16px;
	cursor: pointer;
	align-self: flex-start;
}

#contactForm button:hover {
	background-color: #2554a7;
}


.box-one,
.box-two,
.box-three {
	width: 100%;
	margin: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.box-one img {
	width: 30vw;
}

.box-three img {
	width: 20vw;
}

.box-two {
	background: linear-gradient(to bottom, #5e8f92, #3a46e4);
	background-attachment: fixed;
	margin-left: 0px;
	margin-right: 0px;
	align-items: normal;
	
}




.goal-link{
	text-decoration: none;
}   

.goal-link article:hover{
	transform: scale(1.05);
}

.goal-link img {
	max-width: 250px;
	border-radius: 15px;
}

.goal-link article {
	min-width: 80%;
	transition: all 0.2s ease-in-out;
}



footer {
	background: #c5e2ff;
	border-top: solid 3px #2a519d;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	min-height: 70px;
}


button {
	border: solid 10px;
	border-radius: 50px;
}

#newsletterForm {
	display: flex;
}

#footerBtn {
	font-family: assistant;
	font-weight: bold;
	color: #EFF4F7;
	background-color: #3363c2;
	font-size: 15px;
	border: solid 10px #3363c2;
	border-radius: 50px;
	cursor: pointer;
	padding: 0 20px;
}

#footerEmail {
	font-family: assistant;
	background-color: white;
	border-radius: 50px;
	padding: 10px;
	width: 30vw;
	border: 2px solid gray;
}

#footerSubBtn {
	font-family: assistant;
	font-weight: bold;
	background-color: black;
	border-color: black;
	color: white;
	position: relative;
	margin-left: -90px;
}

#goal-header {
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	margin: 0px;
	background-position: center center;
	position: relative;
	z-index: 0;
}


.front {
	position: relative;
}

.related-topics{
	min-width: 40%;
}

.dropdown {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.dropdown-details {
	background-color: rgba(127, 189, 240, 0.9);
	color: white;
	border: none;
	padding: 5px 15px;
	font-size: 1rem;
	border-radius: 30px;
	cursor: pointer;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 700px;
	max-height: 36px;
	transition: .2s border-radius, .2s max-height, .2s background-color;
}

.dropdown-details[open] {
	flex-direction: column;
	border-radius: 4px;
	max-height: 256px;
}

.dropdown-details[open] > summary {
    font-weight: bold;
}

.dropdown-details:hover {
	background-color: rgba(0, 123, 255, 1);
}


.overview {
	padding: 20px;
}

#goalContent{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#goalContent img {
	width: 30%;
}

#teamCards {
	display: inline-block;
	display: flex;
	flex-wrap: wrap;
}

.nav-header::before {
	content: " ";
	position: fixed;
	background-color: black;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: .2s opacity;
}

/* learnt from https://dev.to/afif/we-can-finally-animate-css-gradient-kdk*/

@property --a {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
  }
  
.donut-chart {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	animation: spin 3s forwards;
	background: conic-gradient(from var(--a), #3363c2 var(--a),rgba(127, 189, 240, 0.9) 0);
	margin: 40px;
  }


  @keyframes spin{
	0% {--a:0deg;}
	100%{--a:240deg;}
  }

  .donut-chart::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 120px;
	background-color: #fff;
	border-radius: 50%;
	transform: translate(-50%, -50%);
  }


  .label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	font-weight: bold;
	color: #333;
	text-align: center;
	margin: 0;
  }


@media only screen and (max-width:786px) {
	.nav-header {
		position: sticky;
		top: 0px;
	}

	.nav-list {
		position: fixed;
		right: 0px;
		display: flex;
		flex-direction: column;
		width: min(360px, 80%);
		background: white;
		margin: 0;
		padding-top: 96px;
		top: 0;
		border-left: 1px solid blue;
		height: 100%;
		transform: translateX(100%);
		opacity: 0;
		transition: .4s transform, .4s opacity;
	}

	nav:has(.nav-list.open)::before {
		opacity: 0.4;
		pointer-events: all;
	}

	.nav-list.open {
		transform: translateX(0%);
		opacity: 1;
	}

	.goals-linkdrop > button {
		margin: 0;
	}

	nav ul li a {
		width: 100%;
		margin: 0;
	}

	nav ul li{
		flex-direction: column;
	}

	.active {
		border-bottom: none;
		border-left: solid 4px #3363c2;
	}

	.circle {
		border-radius: 0;
		background: grey;
		height: 1px;
		margin: 8px;
		width: calc(100% - 16px);
	}

	#hamburger {
		display: block;
		background-color: transparent;
		border: none;
		font-size: 32px;
		align-self: center;
		margin: 8px;
		color: #3363c2;
		cursor: pointer;
		z-index: 2;
	}

	#dropDown.open {
		position: static;
		width: 100%;
		border: none;
		background-color: transparent;
	}

	#dropDown a {
		display: block;
	}

	#goalsDropBtn {
		color: #3363c2;
	}

	#home header img {
		display: none;
	}

	#home div{
		margin: 0px;
	}

	h3 {
		font-size: 4vw;
	}

	h2 {
		font-size: 20vw
	}

	.box-two {
		flex-direction: column;
	}

	.box-one img {
		display: none;
	}

	.box-three img {
		display: none;
	}

	.box-one p,
	.box-three p {
		max-width: 70%;
	}

	.box-two p{
		max-width: none;
	}

	p{
		max-width: 80%;
	}

	#goalContent{
		justify-content: normal;
	}

	#goalContent img {
		width: 100%;
	}

	#formContainer {
		padding: 20px;
	}

	#contactForm {
		gap: 10px;
	}

	footer {
		flex-direction: column;
		padding: 8px;
		row-gap: 8px;
		min-height: 140px;
	}

	#footerEmail {
		width: auto;
	}

}
