<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css">
	<link rel="stylesheet" href="styles.css">
	<script src="src/app.js" defer></script>
	<script src="src/index.js" defer></script>
	<title>404</title>
</head>
<body>
	<%- include("../partials/nav-header", { wrapped: true, page: "404" }); %>
	<header>
		<h1><strong>404: Page not found!</strong></h1>
	</header>
	<main>
		<a href="/">Back to home</a>
	</main>
	<%- include("../partials/footer"); %>
</body>
</html>