<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css">
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
	<link rel="stylesheet" href="styles.css">
	<script src="src/form.js" defer></script>
	<script src="src/app.js" defer></script>
	<title>Form</title>
</head>
<body>
	<%- include("../partials/nav-header", { wrapped: true, page: "form" }); %>
	<header>
		<h1><strong>Contact Us</strong></h1>
		<h3>Need to get in touch with us? Either fill out the form with your inquiry or find the department email you'd like to contact below.</h3>
	</header>
	<main>
		<div id="contactUs">
			<div id="formContainer">
				<form id="contactForm">
					<fieldset class="form-field">
						<label for="firstName"><strong>First name*</strong></label>
						<input type="text" id="firstName" name="firstName" required>
					</fieldset>
					<fieldset class="form-field">
						<label for="lastName"><strong>Last name</strong></label>
						<input type="text" id="lastName" name="lastName">
					</fieldset>
					<fieldset class="form-field">
						<label for="email"><strong>Email*</strong></label>
						<input type="email" id="email" name="email" required>
					</fieldset>
					<fieldset class="form-field">
						<label for="message"><strong>What can we help you with?</strong></label>
						<textarea id="message" name="message" maxlength="300" required></textarea>
					</fieldset>
					<button type="submit">Submit</button>
				</form>				
			</div>
		</div>
	</main>
</body>
</html>