<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css">
	<link rel="stylesheet" href="styles.css">
	<title>Goal 1</title>
</head>
<body>
	<%- include("../partials/nav-header", { wrapped: true, page: "goals" }); %>
	<main>
		<div class="box-one">
			<img src="assets/default profile.jpg" alt="profile image">
			<h1>Our Goals as P12</h1>
			<p>Our mission is to provide clear, actionable information that drives meaningful change. By supporting education,
				 improving access to clean water, and addressing climate challenges, we help individuals and organizations take practical steps toward a better future.
				we aim to tackle these issues with charitable donations from likeminded volunteers, and aswell as making people aware of the
				situation we are currently in globally, with data presentations and updates to show the progress we are
				making</p>
		</div>
		<div class="box-two">
			<div class="goalContainer">
				<a class="goalLink" href="goal-3">
					<article class="goalmember">
						<figure>
							<img src="assets/default profile.jpg" alt="profile image">
							<figcaption>
								<h4>Climate Action</h4>
								<ul>
									<li>Designer and Coordinator</li>
									<li>Hi, I love designing beautiful websites</li>
									<li>I will be managing and helping the team keep on top things. </li>
									<li>too be continued</li>
								</ul>
							</figcaption>
						</figure>
					</article>
				</a>
			</div>
			<div class="goalContainer">
				<a class="goalLink" href="mylink">
					<article class="goalmember">
						<figure>
							<img src="assets/default profile.jpg" alt="profile image">
							<figcaption>
								<h4>Sustainable Consumption and Production</h4>
								<ul>
									<li>Designer and Coordinator</li>
									<li>Hi, I love designing beautiful websites</li>
									<li>I will be managing and helping the team keep on top things. </li>
									<li>too be continued</li>
								</ul>
							</figcaption>
						</figure>
					</article>
				</a>
			</div>
			<div class="goalContainer">
				<article class="goalmember">
					<a class="goalLink" href="goal-3">
						<figure>
							<img src="assets/default profile.jpg" alt="profile image">
							<figcaption>
								<h4>Biodiversity, Forests, and Desertification</h4>
								<ul>
									<li>Designer and Coordinator</li>
									<li>Hi, I love designing beautiful websites</li>
									<li>I will be managing and helping the team keep on top things. </li>
									<li>Click For More Information</li>
								</ul>
							</figcaption>
						</figure>
				</article>
				</a>q
			</div>
		</div>
		<div class="box-three">
			<img src="assets/goals.jpg" alt="profile image">
			<h1>Keep Updated</h1>
			<p>Join our newsletter to stay updated with all the exclusive news and information as soon as its released!, you will also recieve offers from our partners
				 about what they have been up to, or certain shop sales relevant to our cause! aswell as charity events you can join, participate and donate! </p>
		</div>
	</main>
	<%- include("../partials/footer"); %>
</body>
</html>