<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css">
	<link rel="stylesheet" href="styles.css">
	<script src="src/goal-2.js" defer></script>
	<title>Goal 2</title>
</head>
<body>
	<%- include("../partials/nav-header", { wrapped: true }); %>
	<header>
		<h1><strong>Goal 2</strong></h1>
	</header>
	<main>
		<!-- TODO: Main content -->
	</main>
	<%- include("../partials/footer"); %>
</body>