<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css">
	<link rel="stylesheet" href="styles.css">
	<title>Our Goals</title>
</head>
<body>
	<%- include("../partials/nav-header", { wrapped: true, page: "goals" }); %>
	<main>
		<section class="box-one">
			<div>
				<h1><strong>Goals as P12</strong></h1>
				<p>
					Our mission is to provide clear, actionable information that drives meaningful change. By supporting education,
					improving access to clean water, and addressing climate challenges, we help individuals and organizations take practical steps toward a better future.
					we aim to tackle these issues with charitable donations from likeminded volunteers, and aswell as making people aware of the
					situation we are currently in globally, with data presentations and updates to show the progress we are
					making
				</p>
			</div>
			<img src="assets/goals.png" alt="profile image">
		</section>
		<section class="box-two">
			<div>
				<a class="goal-link" href="goal-1">
					<article class="member">
						<figure>
							<img src="assets/default-profile.png" alt="profile image">
							<figcaption>
								<h4>Climate Action</h4>
								<p>
									Protect life on land by promoting sustainable forest management, halting biodiversity loss, and combating
									desertification.
								</p>
							</figcaption>
						</figure>
					</article>
				</a>
			</div>
			<div>
				<a class="goal-link" href="goal-2">
					<article class="member">
						<figure>
							<img src="assets/default-profile.png" alt="profile image">
							<figcaption>
								<h4>Sustainable Consumption and Production</h4>
								<p>TODO: Goal Content</p>
							</figcaption>
						</figure>
					</article>
				</a>
			</div>
			<div>
				<a class="goal-link" href="goal-3">
					<article class="member">
						<figure>
							<img src="assets/default-profile.png" alt="profile image">
							<figcaption>
								<h4>Biodiversity, Forests, and Desertification</h4>
								<p>
									Protect life on land by promoting sustainable forest management, halting biodiversity loss, and combating
									desertification.
								</p>
							</figcaption>
						</figure>
					</article>
				</a>
			</div>
		</section>
		<section class="box-three">
			<img src="assets/searching.png" alt="profile image">
			<div>
				<h1><strong>Keep Updated</strong></h1>
				<p>
					Join our newsletter to stay updated with all the exclusive news and information as soon as its released!, you will also recieve offers from our partners
					about what they have been up to, or certain shop sales relevant to our cause! aswell as charity events you can join, participate and donate!
				</p>
			</div>
		</section>
	</main>
	<%- include("../partials/footer"); %>
</body>
</html>