<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css">
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="goal.css">
	<script src="src/goal-1.js" defer></script>
	<script src="src/app.js" defer></script>
	<title>Goal 1: Climate Action</title>
</head>
<body>
	<%- include("../partials/nav-header", { wrapped: true, page: "goal-1" }); %>
	<header class="goal-header" id="goal1">
		<div class = "front">
			<h1><strong>Climate Action</strong></h1>
			<p>Take urgent action to combat climate change and its impacts</p>
		</div>
	</header>
	<main>
		<div class="related-topics">
			<h3><strong>Related Topics:</strong></h3>
			<div class="dropdown">
				<details class="dropdown-details">
					<summary>Atmosphere</summary>
					<p>
						Reducing harmful chemicals and waste is crucial to protecting biodiversity. Proper disposal and
						sustainable alternatives help prevent contamination of ecosystems and groundwater, ensuring
						healthier environments for both humans and wildlife.
					</p>
				</details>
				<details class="dropdown-details">
					<summary>Climate Action and Synergies</summary>
					<p>
						Sustainable forest management involves practices that maintain the health and productivity of
						forests while supporting the needs of local communities and economies. It includes reforestation,
						selective logging, and protecting old-growth forests to preserve biodiversity.
					</p>
				</details>
				<details class="dropdown-details">
					<summary>Small Island Developing States</summary>
					<p>
						Safeguarding wildlife is essential for maintaining ecological balance. Efforts such as creating
						protected habitats, preventing poaching, and mitigating human-wildlife conflicts contribute to
						preserving species and their roles in ecosystems.
					</p>
				</details>
				<details class="dropdown-details">
					<summary>National strategies and SDG integration</summary>
					<p>
						Reducing harmful chemicals and waste is crucial to protecting biodiversity. Proper disposal and
						sustainable alternatives help prevent contamination of ecosystems and groundwater, ensuring
						healthier environments for both humans and wildlife.
					</p>
				</details>
			</div>
		</div>
		<div class="overview">
			<h3><strong>Overview:</strong></h3>
			<p>
				This goal focuses on preserving biodiversity, sustainable forest management, and reversing land
				degradation caused by desertification. Protecting ecosystems is essential for mitigating climate change
				and ensuring the survival of countless species.
			</p>
		</div>
		<div class="overview-image">
			<img src="assets/goal1-overview.jpg" alt="overview image">
		</div>
	</main>
	<%- include("../partials/footer"); %>
</body>