<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css">
	<link rel="stylesheet" href="styles.css">
	<script src="src/index.js" defer></script>
	<script src="src/app.js" defer></script>
	<title>Home</title>
</head>
<body id="home">
	<nav class="nav-header">
		<ul>
			<li><a class="active" href="/">Home</a></li>
		</ul>
		<button type="button" id="hamburger">
			<i class="fa-solid fa-bars" id="hamburgerIcon"></i>
		</button>
		<ul class="nav-list" id="navList">
			<li id="goalsList">
				<div class="goals-linkdrop">
					<a href="goals">Our Goals</a>
					<button type="button" id="goalsDropBtn">
						<i class="fa-solid fa-caret-down" id="goalsDropIcon"></i>
					</button>
				</div>
				<nav id="dropDown">
					<ul>
						<li><a href="/goal?item=1">Climate Action</a></li>
						<li><a href="/goal?item=2">Sustainable Consumption & Production</a></li>
						<li><a href="/goal?item=3">Biodiversity, Forests, and Desertification</a></li>
					</ul>
				</nav>
			</li>
			<li><hr class="circle"></li>
			<li><a href="team">The Team</a></li>
			<li><hr class="circle"></li>
			<li><a href="form">Newsletter</a></li>
		</ul>
	</nav>
	<main>
		<header>
			<div class="home-title-container">
				<h2>SAVE <strong>YOUR</strong></h1>
				<h2><strong>FUTURE</strong></h1>
				<h3>Providing you with the most reliable information for sustainable development</h3>
				<a href="form"><button id="homeBtn">Newsletter</button></a>
			</div>
			<img src="assets/home-graphic.png" alt="man holding globe">
		</header>
	</main>
	<img class="vert" src="assets/wave.png" alt="wave">
</body>
</html>