<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css">
	<link rel="stylesheet" href="styles.css">
	<script src="src/team.js" defer></script>
	<title>Team Members</title>
</head>
<body>
	<%- include("../partials/nav-header", { wrapped: true, page: "team" }); %>
	<header>
		<h1><strong>Team Members</strong></h1>
		<h3>With a collective 18 years of experience our team are sure to provide you with accurate information.</h3>
	</header>
	<main>
		<!-- TODO: Main content -->
	</main>
	<%- include("../partials/footer"); %>
</body>
</html>